# common large geodata files
Data_dir/
*.LAZ
*.laz
*.gpkg
*.pixi

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.env/
venv/
.venv/
env/
ENV/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/*
!.vscode/settings.json
.code-workspace

# OS files
.DS_Store
Thumbs.db

# Python egg info
*.egg-info/
dist/
build/

# Pip wheel cache
*.whl

# Log files
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/settings.json
